.toolbar {
    background-color: darkred;
    color: white;
    text-align: center;
    font-size: 27px;
    padding-left: 5px;
}

.tabbar{
    background-color: darkred;
}

#carousel{
    width: 350;
    height: 525;
}