<ons-page>
    <div class="trailer">
    <!--<ons-icon icon="fa-play-circle"></ons-icon>-->
        <img src="../image/Jurassic.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
    </div>
  
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <h2>Jurassic World</h2>
  
        <ons-col class="stars">
            <ons-icon style="color: red" icon="fa-star"></ons-icon>
            <ons-icon style="color: red" icon="fa-star"></ons-icon>
            <ons-icon style="color: red" icon="fa-star"></ons-icon>
            <ons-icon style="color: red" icon="fa-star"></ons-icon>
            <ons-icon style="color: red" icon="fa-star"></ons-icon>
          </ons-col>
        <p>When the island, home of the Jurassic World theme park for dinosaur lovers, is in a critical crisis  After three years of the destruction of a dinosaur species, the team returns to build on something, but they find an island that is perished by a volcanic eruption.  Lava is filling the island.
            They have to move the dinosaurs out.</p>
          <p>
            Cast: Actor 1, Owen Grady, Actor 2,Claire Dearing <br/>
          </p>
    </div>
  </ons-page>