<ons-page>
    <div class="trailer">
    <ons-icon icon="fa-play-circle"></ons-icon>
        <img src="../images/yn.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
    </div>
  
    <div style="margin-top: 20px; text-align: center;">
      <h2>Fast and Furious 9 </h2>
  
     
      <p>Fast .. Strong through Hell 9 ( English : Fast & Furious 9, F9 ) or Fast Legend Team Racing ( F9: The Fast Saga )
        is a stunt movie. / Thriller No. 9 in the set The Fast and the Furious Written by Daniel Casey and Directed by Justin Lin.
        Starring Vin Diesel , Michelle Rodriguez , Jordana Brewster, Tyrese Gibson , Ludac. Rhys , Lucas Black , Sunggang , Natalie Emmanuel , Charlisteun ,
        Helen Mirren andJohn Cena, in part 9, will be the continuation of the Hobbs & Shaw split on April 2, 2021 .</p>
        <p>
          Cast: Actor 1, Vin Diesel , Actor 2,Michelle Rodriguez<br/>
         
        </p>
    </div>
  </ons-page>