<ons-page>
    <div class="trailer">
    <!--<ons-icon icon="fa-play-circle"></ons-icon>-->
        <img src="../image/parikin.jpg" style="width: 50%; margin-left: 25%; margin-top: 50px;">
    </div>
  
    <div style="margin-top: 20px; text-align: center;">
      <h2>miss peregrine's home for peculiar children</h2>
      <ons-col class="stars">
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: red" icon="fa-star"></ons-icon>
        <ons-icon style="color: gray" icon="fa-star"></ons-icon>
      </ons-col>
  
      <p>The talk of Jacob Portman, a young man who grew up with a strange story from his grandfather's haunting photographs. That he once believed was only "Tale of fooling children" about the mysterious house Who foster children People with strange powers Which his grandfather had once visited And now it is in the pursuit of a terrible monster. As a result, his grandfather was seen by everyone in the family as a mere sloppy old man.
        Until when Jacob had to face the events of the beast himself Therefore causing him to revisit his grandfather's story That everything is true But this is not the summary of the story. Instead, it is the beginning of a mysterious world where Jacob learns from Miss Peregrine and his amazing new friends in the Peregrine House, where the light-as-air girl, the mighty girl, the invisible boy. , Children, bees, etc.
      </p>
        <p>
          Cast: Actor 1,Eva Green, Actor 2, Asa Butterfield, Actor 3,Ella Purnell,
          Actor 4, Cameron King, Actor 5,  Lauren McCrostie, Actor 6, Samuel L. Jackson<br/>
          Director: Popular Director
        </p>
    </div>
  </ons-page>