<ons-page id="search">
  <div>

    <input type="search" value="" placeholder="name of movie" class="search-input search-input--material" style="width: 100% ">

      <ons-list>

          <ons-list-item style="grid-auto-rows: max-content;">

              <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../image/Jurassic.jpg" style="width:100%; height: 100%;"></ons-col>
                  <ons-col style="margin-left: 10px; margin-top: 10px">  jurassic world (Fallen Kingdom)
                  </ons-col>
                  
                </ons-row>

                <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../image/parikin.jpg" style="width:100%; height: 100%;"></ons-col>
                  <ons-col style="margin-left: 10px; margin-top: 10px">miss peregrine's home for peculiar children
                  </ons-col>
                </ons-row>

                <ons-row>
                  <ons-col width="100px" style="margin-bottom: 10px;"><img src="../image/fast.jpg" style="width:100%; height: 100%;"></ons-col>
                  <ons-col style="margin-left: 10px; margin-top: 10px">fast and furious 9
                  </ons-col>
                </ons-row>

          </ons-list-item>

      </ons-list>
  </div>
</ons-page>